.button {
  background: var(--color-button-primary);
  border-radius: 4px;
  border: none;
  color: var(--color-button-text-primary);
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  outline: none;
  max-width: 280px;
  width: 100%;
}
