body,
body[data-theme='light'] {
  --color-text-primary: #0e1117;
  --color-bg-primary: #fff;
  --color-button-primary: #5fdef3;
  --color-button-text-primary: #000;
}

body[data-theme='dark'] {
  --color-text-primary: #fff;
  --color-bg-primary: #0e1117;
  --color-button-primary: #5fdef3;
  --color-button-text-primary: #000;
}
