body,
body[data-theme='light'] {
  --color-text-primary: #0e1117;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
}

body[data-theme='dark'] {
  --color-text-primary: #fff;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #0e1117;
  --color-bg-toggle: #a9a9a9;
}
